extends layout

block content
  input#search(type='search',placeholder='search')
  br
  h2
    a#results(href="#")

  script(type='text/javascript',src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(type='text/javascript',src='/javascripts/main.js')
  
  
  
